@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    font-family: 'Noto Sans TC', sans-serif;
}



body{
    background-image:
        /* top, transparent red */
        linear-gradient(#ffffff70,
            #ffffff70),
        /* your image */
        url(login.jpg);

    height: 100vh;
    width: 100%;
    background-size: cover;
    /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;


    display: flex;
    align-items: center;
    justify-content: center;
}


.container{
    width:45%;
    /* background-color: rgba(255,255,255,0.3); */
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3), 0 5px 8px rgba(0, 0, 0, 0.3);
    padding: 30px;
}